@import url("https://fonts.googleapis.com/css2/family=Poppins@wgt300;400;500;600;700;800;900&display=swap"
);

* {
    margin: 0; 
    padding: 0;  
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body { /*This sets rules for the entire body element in the html code*/
    display: flex; /*Makes content scale even if i rescale the window*/
    justify-content: center; /* Aligns content to the center of the window */
    align-items: center; /* Aligns content to the center of the window */
    min-height: 100dvh; /* Use dvh its for modern browsers and also works with mobile vh does not*/
    background: url('pexels-cottonbro-3338537.jpg'); /*Sets background*/
    background-position: center;
    background-size: cover;
}

.wrapper { /*Sets rules for what is inside the div class "wrapper" in the html*/
    width: 420px; /*Sets fixed size of wrapper window*/
    background: transparent; /*Sets color of the field wrapper*/
    border: solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff; /*Sets text color of all tags contents (not a) inside the wrapper*/
    border-radius: 10px;
    padding: 30px 40px;
    background-color: rgba(0, 0, 0, 0.5);
}

.wrapper h1 { /*sSpecifies for the h1 tags inside the wrapper div*/
    font-size: 36px; /*Specifies font size in pixels*/
    text-align: center; /*Aligns the h1 tags to the center inside the wrapper div*/
}

.wrapper .input-box { /*Reffers to the input-box div that is a child of the wrapper div*/
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input { /*Reffers to the input tags nested under the input-box div*/
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
} 

.input-box input::placeholder { /*Decides the layout and visuals of the placeholder in the input tags nested under the input div*/
    color: #fff;
}

.input-box i { /*this positions the user and password icon*/
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0px 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);   
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0px 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;   
}

